@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You added a new Contact!</h1>

  <ul>
    <li>Name: @Model.GetName()</li>
    <li>Phone Number: @Model.GetPhone()</li>
    <li>Street Address: @Model.GetStreetAddress()</li>
    <li>City, State Zip: @Model.GetCity(), @Model.GetState() @Model.GetZip()</li>
  </ul>

<p><a href="/contact/new">Add another Contact</a></p>
<p><a href="/">View All Contacts</a></p>
