@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You added a new contact!</h1>

  <ul>
    <li><span class="strong">Name:</span> @Model.GetName()</li>
    <li><span class="strong">Phone Number:</span> @Model.GetPhone()</li>
    <li><span class="strong">Address:</span></li>
    <li>@Model.GetStreet()</li>
    <li>@Model.GetCity(), @Model.GetState() @Model.GetZip()</li>
  </ul>

<p><a href="/contact/new">Add another Contact</a></p>
<p><a href="/">View All Contacts</a></p>

<form action="/contact/@Model.GetId()" method="post">
  <button type="submit" name="button">Delete This Contact</button>
</form>
